@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes animate {
	0% {
		background-color: rgb(140 1 250);
		left: 0;
		top: 0;
	}
	25% {
		background-color: rgb(140 1 250);
		left: 20px;
		top: 0;
	}
	50% {
		background-color: rgb(140 1 250);
		left: 20px;
		top: 20px;
	}
	75% {
		background-color: rgb(140 1 250);
		left: 0;
		top: 20px;
	}
	100% {
		background-color: rgb(140 1 250);
		left: 0;
		top: 0;
	}
}
#spinner {
	background-color: white;
	animation-name: animate;
	animation-duration: 2s;
    animation-iteration-count: infinite;
	transition: ease-in;
}
